* {
	padding:0;
	margin:0;
}
body {
	font-family:Arial;
} 
.widget {
	width:407px;
	height:197px;
}
.logo {
	height:80px;
	width:407px;
	background:url(img/logo.jpg) no-repeat;
}
.left {
	float:left;
	height:108px;
	width:40px;
	background:url(img/left.jpg) no-repeat;
	text-align:center;
	font-size:11px;
	color:white;
	padding-top:7px;
	font-weight:bold;
}
.right {
	float:left;
	height:108px;
	width:367px;
	background:url(img/right.jpg) no-repeat;
}
.avatar {
	width:82px;
	height:66px;
	margin-left:17px;
	margin-top:13px;
	float:left;
}
.avatar img {
	width:82px;
	height:66px;
}
.tekst {
	padding-left:8px;
	float:left;
	width:260px;
	font-size:12px;
	font-style:italic;
	padding-top:18px;
	max-height:89px;
}
.tekst a {
	color:#319ACA;
	text-decoration:none;
}
.footer {
	height:12px;
	text-align:center;
	color:white;
	font-weight:bold;
	padding-top:10px;
	font-size:11px;
}
